.register-box {
  margin: 100px auto;
  width: 600px;
  padding: 30px 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ddd;
}
.register-box .register-logo {
  text-align: center;
  margin-bottom: 20px;
}
.register-box #register {
  font-size: 13px;
}
.register-box #register .register-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}
.register-box #register .register-item {
  margin-bottom: 20px;
}
.register-box #register .register-item .register-label {
  display: inline-block;
  width: 40%;
  text-align: right;
  vertical-align: middle;
  padding-right: 10%;
}
.register-box #register .register-item .register-input {
  display: inline-block;
  width: 50%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: inset 0 2px 6px #bbb;
  padding-left: 10px;
}
.register-box #register .register-terms {
  text-align: center;
  margin-bottom: 40px;
}
.register-box #register .register-terms .register-checkbox {
  vertical-align: middle;
}
.register-box #register .register-btn {
  text-align: center;
}
.register-box #register .register-btn input[type=button] {
  width: 230px;
  display: inline-block;
  height: 36px;
  padding: 0 50px;
}
.register-box #register .login-link {
  text-align: center;
  margin-top: 20px;
}
.register-box #register .register-input.error {
  border: 1px solid #EB174B;
}
.register-box #register label.error {
  display: block;
  text-align: right;
  margin-right: 10%;
  color: #EB174B;
}
