#product {
  padding-top: 50px;
}
#product #image {
  height: 500px;
  float: left;
  padding-left: 40px;
  width: 32%;
  text-align: center;
}
#product img {
  height: 100%;
}
#product #infor {
  display: inline-block;
  max-width: 60%;
}
#product .item {
  line-height: 40px;
  font-size: 15px;
  color: #888;
}
#product .item-value {
  font-size: 20px;
  margin-bottom: 20px;
}
#product .back-btn {
  margin-top: 50px;
}
#product .back-btn a {
  width: 230px;
  display: inline-block;
  height: 36px;
  padding: 0 50px;
  border: none;
  border-radius: 5px;
  background: #2fa2db;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
}
#product .back-btn a:hover {
  box-shadow: 0 0 6px #888;
}
